{% extends "base.html" %}

{% block title %}
    Let's Start
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="main-content">
            <h1 class="main-content__title app-title">TaskDo</h1>
            <h3 class="main-content__subtitle">Manage You Task Checklist
                Easily</h3>
            <a class="main-content__btn" href="{% url "sign_in" %}">Let's
                Start</a>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}